@{
    Layout = "_Layout";
}

<table>
    <tr>
        <th>코드</th>
        <th>이름</th>
        <th>이메일</th>
        <th>성별</th>
        <th>부서</th>
        <th>코멘트</th>
        <th>날짜</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Code</td>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>@item.Gender</td>
            <td>@item.Department</td>
            <td>@item.Comment</td>
            <td>@item.Created</td>
        </tr>
    }
</table>